<ion-header>
  <ion-toolbar>
    <ion-title>BIENVENIDOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/images/login.svg"></ion-img>

  <ion-item class="ion-margin-top"> 
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="modeloUsuario "></ion-input>
  </ion-item>
  <ion-item class="ion-margin-top"> 
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="modeloContrasena"></ion-input>
  </ion-item>
  <ion-button (click)="validar()" class="ion-margin-top" expand="block">Ingresar</ion-button>

</ion-content>
